@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
#navbar{
    border-bottom: 1px solid #c2c2c2;
    background-color: #fff;

}
.image-header{
    width: 100%;
    height:100vh;
    background-image: url('./img/index.jpg');
    color: #fff;
    min-height: 600px;
    padding: 0;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    background-attachment: fixed;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: #000;
    z-index: 2;
    opacity: 0.6;
}
.content{
    color:#fff;
    z-index: 10;
    position: relative;
    width: 100%;
    top:50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    }
#italic{
    padding-left:30px;
    font-style: italic;
    font-size:1.3rem;
}
#text-intro{
    padding-left:30px;
    line-height: 1.44;
    font-family: 'Montserrat', sans-serif;
    font-size:2.8rem;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
    text-transform: uppercase;
    letter-spacing: 0.2em;

}
#footer-sec{
    color:#fff;
    background-color: #111;
    padding: 50px 0;
    font-style: italic;
}
.image-carousel{
 display: block;

  width: 100%;
  height: auto;
  background-size: cover;
}
.modal-content {
    height: auto;
    width: 800px;
  }
  .modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto;
}
.resumeProfil{
    z-index: 9999;
    background-color: black;
    width: 200px;
}
.copy{
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    font-size: 12px;
    font-family: "Montserrat",sans-serif;
    color: #777;
}
.header-main a:hover{
    color: white;
}
.copy a:hover{
    color: white;
}
.copy p{
margin: 0;
padding: 0;
line-height: 1.75;
text-align: center;
}
.copy a{
    color:#777;
    font-size: 16px;
    margin: 0;
}
.header-main span{
    margin: 0 15px 0 0;
}

@media only screen and (max-width: 600px) {
    #text-intro{
        padding-left:0 ;
        line-height: 1.44;
        font-family: 'Montserrat', sans-serif;
        font-size:1.2rem;
        text-shadow: 0 1px 2px rgba(0,0,0,0.6);
        text-transform: uppercase;
        letter-spacing: 0.2em;
    
    }
    .modal-content {
        height: auto;
        width: 80%;
      }
      .modal-dialog {
        max-width: 80%;
        margin: 1.75rem auto;
    }
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #000;
        z-index: 2;
        opacity: 0.6;
    }
    .resumeProfil{
        z-index: 999;
    }
    #italic {
        padding-left: 0;
        font-style: italic;
        font-size: 1.3rem;
    }
    
  }