@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');

#about-meq{
    padding:  100px 0;
}
.h5{
    margin-bottom: .5rem;
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    line-height: 1.44;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
#filter-text{
    font-size: 1.25;
    margin-bottom: .5rem;
    font-family: "Cardo",sans-serif;
    line-height: 1.44;
    color: inherit;
}
.icon{
    font-size: 50px;
    color: #262626;
    margin-bottom: 10px;
}
.icon-style{
    position: absolute;

    top: 30%;
    right: 40%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 9999;
    color: white;
    display: none;
}
#main-text{
    font-family: 'Montserrat', sans-serif;
    color:black;
    font-size: 2.1rem;
    line-height: 1.44;
    letter-spacing: 0.2em;
    border-bottom: 40px;
}
#main-text::after{
    content: " ";
    display: block;
    width: 100px;
    height: 1px;
    margin: 20px 0 20px;
    background: #555;

}
.header-main ul{
    padding: 0;
    list-style: none;
    color: #777;
    font-family: 'Montserrat', sans-serif;

}
.copy ul{
    padding: 0;
    list-style: none;
    color: #777;
    font-family: 'Montserrat', sans-serif;

}
.header-main  ul li{
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #202226;
    text-align: left;
}
.header-main  li a {
    padding-left:40px ;
    display: block;
    line-height: 45px;
    position: relative;
    color: #777;
}
.header-main  li a:active{
    color: white;
}
.navBar-header{
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    position:absolute;
    top: 0;
    z-index: 9999;
}


.navBar-header a{
    display: inline-block;
    float: right;
    border-left: 1px solid #777 ;
    height: 100%;
    padding: 15px;
    
}
.navBar-header h2{
    position:absolute;
    
    left: 20%;
    display: inline-block;
    letter-spacing: 0.05cm;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    line-height: 50px;
}

#about-text{
    font-family: "Cardo","Times New Roman",Times,serif;
    font-size: 1rem;
    color: #212529;
    letter-spacing: 0em;
    text-align: justify;

}
.links-text{
    padding-left: 16px;
    font-style: italic;
    font-size: 1.3rem;
}
.descrip-text{
    padding-top: 12px;
    font-size: 1rem;
}
span{
    font-style: italic;

}
#about-letter{
    font-family: "Cardo","Times New Roman",Times,serif;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #212529;
    letter-spacing: 0em;
}
.mtop-5{
    margin-top: 3rem;
}
#img-aboutme{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
.overlay-withe{
    background-image:url('./public/img/desklo-new-logo.png') ;
    width: 100%;
    height: 130px;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.overlay-main{
  position: absolute;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: none;
  cursor: pointer;
  border-radius:15px;
 
}
.service-sec{
    padding: 150px 0;
    background-color:#eee ;
}
.pro-sec{
    padding: 50px 0;
}
#proff{
    width: 100%;
}
#project-image{
    width: 256px;
    height:108px;
}
.modal-dialog{
    width: 80%;
    display: flex;
    justify-content: center;
}
#send-message{
    width: 100%;
    background-color: #fff;
    color:#212529;
    border:1px solid #212529;
    padding: 5px 0;
}
#send-message:hover{
    background-color: #212529;
    color:#fff;
}
#download-cv{
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.4);
    border: 1px solid rgba(255, 255, 255, 0.925);
    backdrop-filter: blur(0.5px);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    width: 50%;
    margin-left: 24px;
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}



/* .modal-style{
    width: 70%;
} */
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

.resumeProfil-n{
    z-index: 9999;
    background-color: #17181b;
    width: 200px;
    height: 100vh;
    position: absolute;
    display: block;
}

.shadow-box{
    -webkit-box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.82); 
box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.82);
padding: 15px;
width: 100%;
height: auto;
border-radius: 15px ;
margin: 0 10px;
}
#myImage{
    width: 100%;
    height: 199px;
}
.col-md-3{
    max-width: 22% !important;
}
@keyframes test {
    from {background-color:rgb(245, 108, 108) ;}
    to {background-color: rgba(0,0,0,0.4);}
  }
  
@media only screen and (max-width: 768px) {
.p-6{
        padding: 25px;
    }
#text-header{
        text-align: center;
    }
#img-aboutme {
        display: none;
      width: 0;
      height: 0;
    }
    
.descrip-text{
    padding-top: 12px;
    font-size: 0.75rem;
}   
.padding-services{
    text-align: center;
}
#foot-text{
    font-size: 12px;
}

#about-meq{
    padding: 25px 0;
}
#project-image{
    width: 65%;
    height: auto;
}
h3{
    font-size: 1.25rem;
}
#main-text{
    font-size: 1.5rem;
}
.service-sec{
    padding: 100px 0;
}
.h4{
    font-size: 1rem;
}
.h5{
    font-size: 15px;
}
.icon{
    text-align: center;
}
.icon-style{
    position: absolute;
    width: 40px;
    height: 40px;

}
.modal-backdrop{
    height: 100% !important;
    width: 100% !important;
  }
.resumeProfil-n{
    z-index: 9999;
    background-color: #17181b;
    width: 200px;
    height: 100vh;
    position: absolute;
    display: none;
}
.mtop-5{
    margin-top: 0rem;
}
.shadow-box{
    -webkit-box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.82); 
box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.82);
padding: 15px;
width: 100%;
height: auto;
border-radius: 15px ;
margin:auto;
}
}